<h1 class="title"></h1>

{{#each posts as |post|}}
  <a href="/post/{{post.id}}" class="clickable-link">
    <div class="postDiv">

      <div class="postID">
      <span class="reference_tag">Post I.D:</span>  {{post.id}}<br>
       <span class="reference_tag">User:</span>
        {{post.user.user_username}}
      </div>
<div class="post_Title">
      <span class="reference_tag">Title :</span>  {{post.title}}<br>
        <div class="created_at">

        {{created_at}}.
        </div>
</div>
<span class="reference_tag">comments:</span>
      <div class="postContent">
        {{post.post}}<br>
        
      </div>

    </div>
  </a>
  <br />

{{/each}}